<div class="contacts-form-container" ng-controller="saveCtrl">
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="control-label col-sm-2" for="fname">First Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="fname" placeholder="Enter first name" ng-model="contact.firstName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="lname">Last Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="lname" placeholder="Enter last name" ng-model="contact.lastName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="zip">Zip:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="zip" placeholder="Enter Zip Code" ng-model="contact.zip">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="contact.email">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="address">Address:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="address" placeholder="Enter address" ng-model="contact.address">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" ng-click="saveContact(contact)">Submit</button>
        </div>
    </div>
</form>
    </div>