<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts Application</title>
    <link rel="stylesheet" href="/public/lib/bootstrap/dist/css/bootstrap.min.css">


</head>
<body >


    <div class="container-fluid">

        <div ng-controller="ContactsCntrl">
            <p ng-bind = "name"></p>
            <p> Name: {{name}}</p>
        </div>
    </div>


<!-- Vender libraries -->

<script src="/public/lib/jquery/dist/jquery.min.js"></script>
    <script src="/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/public/lib/angular/angular.min.js"></script>
    <script src="/public/lib/angular-ui-router/release/angular-ui-router.min.js"></script>


<!-- Application Dependencies -->
<script src="/modules/core/client/app/config.js"></script>
<script src="/modules/core/client/app/init.js"></script>
<script src="/modules/core/client/core.client.module.js"></script>
<script src="/modules/core/client/controllers/core.client.controller.js"></script>

</body>
</html>